<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nav</title>
</head>
<body>
    <div th:fragment="navegador">
        <nav> 
            <div class="nav-wrapper green darken-3">
              <a href="/groa/producao" class="brand-logo"><i class="material-icons">spa</i>GROA</a>
              <ul class="right hide-on-med-and-down">
                <li><a href="/groa/producao"><i class="material-icons">table_view</i></a></li>
                <li><a href="/groa/producao/form"><i class="material-icons">edit_document</i></a></li>
              </ul>
            </div>
          </nav>
    </div>
    
</body>
</html>