<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <link rel="stylesheet" th:href="@{/css/producoes.css}">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <title>Produções</title>
</head>

<body>
  <nav> 
    <div class="nav-wrapper green darken-3">
      <a href="#!" class="brand-logo"><i class="material-icons">cloud</i>GROA</a>
      <ul class="right hide-on-med-and-down">
        <li><a href="sass.html"><i class="material-icons">search</i></a></li>
        <li><a href="badges.html"><i class="material-icons">view_module</i></a></li>
        <li><a href="collapsible.html"><i class="material-icons">refresh</i></a></li>
        <li><a href="mobile.html"><i class="material-icons">more_vert</i></a></li>
      </ul>
    </div>
  </nav>
  <div class="container tabela">
    <table>
      <caption>Tabela de Produções</caption>
      <thead>
        <tr>
          <th>Data</th>
          <th>Nome</th>
          <th>Bruta</th>
          <th>Refugo</th>
          <th>Venda</th>
        </tr>
      </thead>

      <tbody>
        <tr th:each="prod: ${producoes}">
          <td th:text="${prod.data}">12/08/2022</td>
          <td th:text="${prod.nome}">Manga</td>
          <td th:text="${prod.pesoBruto}">40</td>
          <td th:text="${prod.pesoRefugo}">20</td>
          <td th:text="${prod.pesoVenda}">20</td>
        </tr>
      </tbody>
    </table>
  </div>

</body>

</html>