<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <title>Produções</title>
</head>
<body>
    <table>
        <caption>Tabela de Produções</caption>
        <thead>
          <tr>
              <th>Data</th>
              <th>Nome</th>
              <th rowspan="3">Produção</th>
              <th>Bruta</th>
              <th>Refugo</th>
              <th>Venda</th>
          </tr>
        </thead>

        <tbody>
          <tr>
            <td>12/08/2022</td>
            <td>Manga</td>
            <td>40</td>
            <td>20</td>
            <td>20</td>
          </tr>
        </tbody>
      </table>
    
</body>
</html>